<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">
        Sistema de Controle de Caixa
      </h1>
      <p class="lead text-center">
        Bem-vindo ao Sistema de Controle de caixa!
        Este sistema foi projetado pra ajudá-lo a organizar
        as finanças de seu negócio de forma fácil e rápida!
      </p>
      <p class="text-center">
        Com esse sistema você pode:
      </p>
      <ul class="list-group">
        <li class="list-group-item">Fazer Depósitos e Retiradas</li>
        <li class="list-group-item">Verificar saldo do caixa em tempo real</li>
      </ul>
      <p class="text-center mt-4">
        Comece agora mesmo a organizar suas finanças de forma eficiente!!!
      </p>
    </div>
  </div>
</div>
